@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");
html, body {
  height: 100%; }

h1, h2, h3, h4, label, select {
  font-family: "Montserrat", sans-serif;
  color: #005B5B; }

p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #005B5B; }

#productTitlePrice, #shippingCost, #totalCost {
  display: flex;
  flex-direction: row;
  margin: 10px; }

#productTitlePrice h3, #totalCost h3, #shippingCost h3 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px; }

#shippingInformation p {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px; }

#content {
  display: flex;
  margin: 0px;
  min-height: 100%; }

#product {
  display: flex;
  float: left;
  flex-direction: column;
  margin: 0px;
  width: 33%;
  align-items: center; }

#product img {
  width: 75%; }

#product h2 {
  align-self: flex-end; }

input[type="radio"] {
  -webkit-appearance: button;
  /* Chrome, Safari, Opera */
  -moz-appearance: button;
  /* Firefox */
  -ms-appearance: button; }

input[type="radio"]:checked + label {
  background-color: #005B5B;
  color: #E5E5E5; }

#shirtColorButtons input[type="radio"]:checked + label {
  border-color: #007979;
  border-width: 5px;
  border-style: solid;
  margin-top: 10px; }

#blueLabel, #redLabel, #blackLabel, #purpleLabel {
  background-color: #42dcf4;
  margin: 10px 10px;
  border-radius: 5px;
  font-size: 24px;
  color: transparent;
  padding: 25px 35px; }

#redLabel {
  background-color: #f44242; }

#blackLabel {
  background-color: #000; }

#purpleLabel {
  background-color: #41337A; }

.shirtSize, button[type="submit"] {
  padding: 20px 60px;
  border-radius: 5px;
  background-color: #007979;
  color: #fff;
  width: 50%; }

#shirtSizeButtons p {
  margin: 50px 10px; }

#shirtColorButtons p {
  margin: 50px 10px; }

#price {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  font-weight: bold; }

#shippingDetails {
  float: left;
  width: 33%;
  background-color: #F9F9F9;
  padding: 20px; }

#shippingDetails input {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  font-size: 20px; }

#shippingDetails input[type="text"] {
  height: 50px; }

#shippingDetails input[type="number"] {
  height: 50px; }

#shippingDetails input[type="email"] {
  height: 50px; }

#shippingDetails label {
  font-size: 20px;
  font-weight: bold;
  color: #596869; }

select {
  width: 100%;
  height: 50px;
  margin-top: 10px; }

#orderSummary {
  float: right;
  width: 33%;
  background-color: #E5E5E5;
  padding: 8px; }

#orderSummary p {
  clear: both;
  float: right; }

#orderSummary h2, h3 {
  clear: both;
  float: left; }

.error {
  color: red;
  font-size: 24px;
  font-weight: bolder; }

#submitButton button {
  width: 200px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  display: block; }

button[type="submit"] {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  justify-content: center; }

select {
  display: flex;
  width: 100%; }

@media (min-width: 320px) and (max-width: 425px) {
  html, body {
    display: block; }
  #content {
    flex-direction: column; }
  #product, #shippingDetails, #orderSummary {
    width: 100%; }
  h2 {
    font-size: 22px; }
  #product {
    margin-bottom: 20px; }
  #shippingDetails {
    margin-top: 10px; }
  #shippingDetails input[type="text"], select {
    width: 275px; }
  #shirtSizeButtons input[type="radio"] + label {
    border: solid;
    font-size: 16px;
    padding: 30px;
    margin: 5px; }
  #shirtColorButtons input[type="radio"] + label {
    padding: 20px;
    margin: 10px; } }

@media (min-width: 426px) and (max-width: 768px) {
  html, body {
    display: block; }
  #content {
    flex-direction: column; }
  #product, #shippingDetails, #orderSummary {
    width: 100%; }
  #product {
    align-items: flex-start; }
  #shippingDetails {
    margin-top: 30px; }
  #shippingDetails input, select {
    width: 700px; } }

@media (max-width: 1024px) {
  #shirtSizeButtons input[type="radio"] + label {
    font-size: 16px;
    padding: 25px;
    margin: 10px; }
  #shirtColorButtons input[type="radio"] + label {
    padding: 25px;
    margin: 0px; } }
