@import 'utils/vars';
@import 'utils/mixins';
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

  
*
{
    box-sizing: border-box;
    
}
html, body
{
    height:100%;
}
h1,h2,h3,h4,label,select 
{
    font-family: $titleFont;
    color: #005B5B;
}
#productTitlePrice, #shippingCost, #totalCost
{
    display: flex;
    flex-direction: row;
    margin: 10px;  
}

#productTitlePrice h3, #totalCost h3, #shippingCost h3
{
  @include orderLayout(100%, $titleFont, 24px);
}
#shippingInformation p
{
    @include orderLayout(100%, $paragraphFont, 14px);
}

#content
{
    display: flex;
    margin: 0px;
    min-height: 100%;

}

#product
{

    display: flex;
    float: left;
    flex-direction: column;
    margin: 0px;
    width: 33%;
   
    
}
#product img
{
    width: 75%;
  

}

#price
{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    font-weight: bold;
}
input[type="radio"]
{
    -webkit-appearance: button; /* Chrome, Safari, Opera */
    -moz-appearance: button;    /* Firefox */
    -ms-appearance: button;  
}

#blueLabel
{
    background-color: $blueButton;
    margin: 10px 10px;
    border-radius:$buttonBorderRadius;
    font-size: 24px;
    padding: 10px;
    color: transparent;  
    padding: 25px 40px;


}

#redLabel
{
  
    @extend #blueLabel;
    background-color: $redButton;
}
#blackLabel
{
    @extend #blueLabel;
    background-color: $blackButton;
}
#purpleLabel
{
    @extend #blueLabel;
    background-color: $purpleButton;
}

.shirtSize
{
    padding: 20px 60px;
    border-radius: $buttonBorderRadius;
    background-color: #007979;
    color: #fff;  
    width: 50%;
    
}
#shirtColorButtons input[type="radio"]:checked+label
{
border-color: #007979;
border-width: 5px;
border-style: solid;
margin-top: 10px;
}
#shirtSizeButtons p
{
    margin: 50px 10px;
}
p
{
    font-family: $paragraphFont;
    font-size: 24px;
    color: #005B5B;
}
#shirtColorButtons p
{
    margin: 50px 10px;
}
#shippingDetails
{
    float: left;
    width: 33%;    
    background-color: #F9F9F9;
    padding: 20px;


}
#shippingDetails input
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    font-size: 20px;


}
#shippingDetails input[type="text"]
{
    height: 50px;
    
}
#shippingDetails input[type="number"]
{
    height: 50px
}
#shippingDetails input[type="email"]
{
    height: 50px;
}
#shippingDetails label
{
    font-size: 20px;
    font-weight: bold;
    color: #596869;
}

select
{
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
#orderSummary
{  
    float: right;
    width: 33%;
    background-color: #E5E5E5;
    padding: 8px;


}
#orderSummary p
{
    clear: both;
    float: right;

}
#orderSummary  h2, h3
{
    clear: both;
    float: left;
}
input[type="radio"]:checked+label
{
background-color:  #005B5B;
color: #E5E5E5;
}
.error
{
    color: red;
    font-size: 16px;  

}
#submitButton button
{
    width: 200px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    display: block;
    align-items: center;
}
button[type="submit"]
{
    @extend .shirtSize;
    font-size: 20px;
    font-family: $paragraphFont;
    justify-content: center;
}
select 
{
    display: flex;
    width: 100%;
}
@media(min-width: 320px) and (max-width: 425px)
{
    
    html, body
    {
        display: block; 
        
    }
    #content
    {
        flex-direction: column;
    }
    #product, #shippingDetails, #orderSummary
    {
        width: 100%;
       
    }
    h2
    {
        font-size: 22px;

    }
    #product
    {
        margin-bottom: 20px;
    }
    #shippingDetails
    {
         margin-top: 10px;
    }
    #shirtSizeButtons input[type="radio"]+label
    {
        font-size: 16px;
        padding: 30px;
        margin: 10px;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none; 
    }
    #shirtColorButtons input[type="radio"]+label
    {
        padding: 20px;
        margin: 10px;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none; 
    }
    select
    {
        border: solid;

    }

}

    